.super-home {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  border-radius: 8px;

  .super-left {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .super-basic-info {
      width: 100%;
      height: 20%;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 15px;
      background-color: rgba(37, 37, 37, 0.49);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .super-l-bottom {
      flex: 1;
      background-color: #fff;
      border-radius: 8px;
      background-color: rgba(37, 37, 37, 0.49);
    }
  }

  .super-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;

    .super-r-top {
      width: 100%;
      height: 50%;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 15px;
      background-color: rgba(37, 37, 37, 0.49);
    }

    .super-r-bottom {
      flex: 1;
      background-color: #fff;
      border-radius: 8px;
      background-color: rgba(37, 37, 37, 0.49);
    }
  }
}
