.page-main {
    width: fit-content;
    height: 100%;

    .pages {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .page-btn {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 2px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #ffffff78;
            font-size: 12px;
        }

        prev,
        next {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .disabled {
            display: none;
        }
    }

    .active {
        background-color: #ffffff0d;
        border-radius: 8px;
    }
}