.ant {
  font-size: "2rem";
  font-weight: "bold";
  color: "#fff";
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
