.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    flex-direction: column;
    box-sizing: border-box;
}