.window {
  height: 100vh;
  overflow: hidden;
  border-radius: 8px;
  background: rgba($color: #252525, $alpha: 0.49);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .entry {
    width: 100%;
    height: 100%;
    padding: 35px 15px 15px;
    display: flex;
    box-sizing: border-box;

    .tab {
      width: 14%;
      height: 100%;
      background-color: rgba($color: #252525, $alpha: 0.49);
      border-radius: 8px;
      margin-right: 15px;
    }

    .entry-content {
      flex: 1;
      border-radius: 8px;
    }
  }

}
