.project {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .project-content {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
