.staff-detail {
  width: 100%;
  height: 100%;
  display: flex;

  .staff-info {
    flex: 1;
    background-color: rgba(37, 37, 37, 0.49);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .basic-info {
      width: 100%;
      height: 240px;
      display: flex;
      margin-bottom: 15px;

      .avatar {
        height: 100%;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .img-motion {
          height: 90%;
          aspect-ratio: 3.5 / 4.9;
          border-radius: 8px;
          margin-bottom: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
          }
        }

        .staff-id {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          color: #737373;
        }
      }

      .basic-content {
        flex: 1;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;

        .basic-item {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 10px;
          box-sizing: border-box;
          color: #737373;

          .title {
            cursor: default;
            user-select: none;
            margin-right: 15px;
            white-space: nowrap;
          }

          text {
            color: #cadade;
            cursor: pointer;
          }

          .staff-status {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .status-dot {
              width: 5px;
              height: 5px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }

          .department {
            width: fit-content;
            padding: 3px 5px;
            border-radius: 4px;
            font-size: 12px;
            color: #c5c2c2;
            backdrop-filter: blur(50px);
          }

          .occupation {
            width: fit-content;
            padding: 3px 5px;
            border-radius: 4px;
            font-size: 12px;
            color: #c5c2c2;
            backdrop-filter: blur(50px);
          }

          span {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .more-info {
      width: 100%;
      height: 300px;
      margin-bottom: 15px;
    }

    .another-info {
      flex: 1;
      margin-bottom: 15px;
    }

    .actions {
      width: 100%;
      height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 15px;
      box-sizing: border-box;

      .action-btn-resign {
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        background-color: #ebacac56;
        color: #ebacac85;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: all 0.5s ease;

        &:hover {
          transition: all 0.3s;
          background-color: #ebacacba;
          color: #ffffff;
        }

        .loader {
          display: flex;
          align-items: center;
          margin-right: 10px;

          .bar {
            display: inline-block;
            width: 3px;
            height: 6px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            animation: scale-up4 1s linear infinite;

            &:nth-child(2) {
              height: 12px;
              margin: 0 5px;
              animation-delay: 0.25s;
            }

            &:nth-child(3) {
              animation-delay: 0.5s;
            }

            @keyframes scale-up4 {
              20% {
                background-color: #ffff;
                transform: scaleY(1.5);
              }

              40% {
                transform: scaleY(1);
              }
            }
          }
        }
      }

      .action-btn-confirmation {
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        background-color: #acebac56;
        color: #acebac85;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: all 0.5s ease;
        margin-left: 15px;

        &:hover {
          transition: all 0.3s;
          background-color: #acebacba;
          color: #ffffff;
        }

        .loader {
          display: flex;
          align-items: center;
          margin-right: 10px;

          .bar {
            display: inline-block;
            width: 3px;
            height: 6px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            animation: scale-up4 1s linear infinite;

            &:nth-child(2) {
              height: 12px;
              margin: 0 5px;
              animation-delay: 0.25s;
            }

            &:nth-child(3) {
              animation-delay: 0.5s;
            }

            @keyframes scale-up4 {
              20% {
                background-color: #ffff;
                transform: scaleY(1.5);
              }

              40% {
                transform: scaleY(1);
              }
            }
          }
        }
      }

      .fade-enter-from,
      .fade-leave-to {
        opacity: 0;
        transform: scale(0);
      }

      .fade-enter-active,
      .fade-leave-active {
        transition: all 0.5s ease;
        position: relative;
      }

      .fade-enter-to,
      .fade-leave-from {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .contract {
    height: 100%;
    background-color: rgba(37, 37, 37, 0.49);
    border-radius: 8px;
    box-sizing: border-box;

    .close-pdf {
      width: fit-content;
      padding: 5px 8px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: #353535, $alpha: 0.5);
      backdrop-filter: blur(50px);
      color: #fff;
      font-weight: bold;
      border-radius: 8px;
      font-size: 11px;
      cursor: pointer;
      margin-left: 10px;
    }
  }
}
