.video-component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;

  .video-action {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }
}
