.finance {
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.49);
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
