.meet-room {
  width: 100%;
  height: 100%;
  padding: 35px 15px 5px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: rgba($color: #252525, $alpha: 0.35);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .meet-main {
    flex: 1;
    display: flex;

    .meet-video {
      flex: 1;
      background-color: rgba(37, 37, 37, 0.49);
      border-radius: 18px;
      position: relative;

      .show-participant {
        background-color: rgba(37, 37, 37, 1);
        border-radius: 8px 0 0 8px;
        box-sizing: border-box;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        right: 0;
        cursor: pointer;

        .motion-show-participant {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .meet-participant {
      background-color: rgba(37, 37, 37, 0.49);
      border-radius: 18px;
    }
  }

  .meet-operator {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .operator-list {
      width: 40%;
      height: 60px;
      border-radius: 18px;
      background-color: rgba(37, 37, 37, 0.49);
      display: flex;
      align-items: center;
      justify-content: space-around;

      .operator-item {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: #393939;
        }
      }
    }
  }
}
